.info-cards {
  display: flex;
  justify-content: center;
  align-items: center; /* Add this for vertical alignment */
  flex-direction: column; /* Stack the cards vertically */
  padding: 20px;
  background-color: #335;
  /* Remove width: 100%; so it takes up only as much space as needed */
}

mat-card {
  background-color: rgb(255, 255, 255);
  color: #333;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
  font-size: 1.2em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

/* Keep your existing responsive design rules */
@media screen and (max-width: 768px) {
  .info-cards {
    flex-direction: column;
    align-items: center;
  }

  mat-card {
    width: 80%; /* Adjust based on preference */
  }
}
